<div class="b-widget">
  <h3 class="b-widget__title">
    Услуги
  </h3>
  <!-- /.b-widget__title -->
  <div class="b-widget__content">
    <ul class="b-links b-links_sidebar">
      {% assign current = page.url  %}
      {% for page in site.services %}
      <li class="b-links__item {% if page.url == current %} active {% endif %}">
        <a href="{{page.url}}" class="b-links__link">{{page.title}}</a>
      </li>
      <!-- /.b-links__item -->
      {% endfor %}
    </ul>
    <!-- /.b-links b-links_sidebar -->
  </div>
  <!-- /.content -->
</div>
<!-- /.b-widget -->

<div class="b-widget">
  <h3 class="b-widget__title">
    Статьи
  </h3>
  <!-- /.b-widget__title -->
  <div class="b-widget__content">
    <ul class="b-links b-links_unstyle">
      {% assign current = page.url  %}
      {% for article in site.articles %}
      <li class="b-links__item {% if article.url == current %} active {% endif %}">
        <a href="{{article.url}}" class="b-links__link">
          {{article.title}}
          {% if article.img %}
          <div class="b-links__image">
            <img src="{{site.baseurl}}img/{{article.img}}" alt="{{article.title}}" class="b-links__img">
          </div>
          <!-- b-links__image -->
          {% endif %}
        </a>
      </li>
      <!-- /.b-links__item -->
      {% endfor %}
    </ul>
    <!-- /.b-links b-links_sidebar -->
  </div>
  <!-- /.content -->
</div>
<!-- /.b-widget -->

<div class="b-widget">
<!--   <h3 class="b-widget__title">
    Статьи
  </h3> -->
  <!-- /.b-widget__title -->
  <div class="b-widget__content">
   <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

   <!-- VK Widget -->
   <div id="vk_groups"></div>
   <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 59286395);
  </script>
</div>
<!-- /.content -->
</div>
<!-- /.b-widget -->


<div class="b-widget">
  <h3 class="b-widget__title">
    Вход в систему
  </h3>
  <!-- /.b-widget__title -->
  <div class="b-widget__content">
    <div class="b-form">
      <form action="">
        <div class="b-form__line">
          <label for="username" class="b-form__label">Имя пользователя *</label>
          <input type="text" name="" id="username" class="b-form__input-text">
        </div>
        <!-- /.b-form__line -->
        <div class="b-form__line">
          <label for="password" class="b-form__label">Пароль *</label>
          <input type="password" name="" id="password" class="b-form__input-text">
        </div>
        <!-- /.b-form__line -->
        <div class="b-form__line">
          <a href="#" class="b-form__link">Забыли пароль?</a>
        </div>
        <!-- b-form__line -->
        <div class="b-form__line">
          <input type="submit" value="Вход" class="b-form__action">
        </div>
        <!-- b-form__line -->
      </form>
    </div>
    <!-- /.b-form -->
</div>
<!-- /.content -->
</div>
<!-- /.b-widget -->

