<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}favicon.ico">
  <meta charset="UTF-8">  
  <title>{% if page.title %}  {{page.title}} {% else %}{{site.title}}{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="{{site.baseurl}}css/style.css">
</head>
<body>
  <div class="wrapper wrapper_top-bar">
    <div class="inner">
      <nav class="b-navigation clearfix"> 
        {% for nav in site.data.navigation %}
        <a href="{{nav.url}}" class="b-navigation__item">{{nav.title}}</a>
        {% endfor %}
      </nav>
      <!-- /.b-navigation -->
    </div>
    <!-- /.inner -->
  </div>
  <!-- /.wrapper -->
  <div class="wrapper wrapper_header wrapper_gray">
    <div class="inner">
      <div class="b-header">
        <div class="b-logo left">
          <a href="{{site.baseurl}}" class="b-logo__link">
            <h1 class="b-logo__title">
              <img src="{{site.baseurl}}img/logo.png" alt="" class="b-logo__img">
            </h1>
            <!--b-logo__title -->
          </a>
          <!--b-logo__link -->
        </div>
        <!--b-logo -->
      </div>
      <!-- b-header -->
    </div>
    <!-- inner -->
  </div>
  <!-- wrapper -->
</body>
</html>